{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Dashboard</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'base/header.css' %}">
</head>
<body>

  <!-- NAVBAR -->
  <header class="navbar">
  <!-- Left Logo -->
  <div class="logo">
    <h2>Alumni Network Platform</h2>
  </div>

  <!-- Right Menu -->
  <nav class="menu">
    <a href="{% url 'index' %}" class="active">
      <i class="fas fa-home"></i>
      <span>Home</span>
    </a>

    <a href="{% url 'people:list_people' %}">
      <i class="fas fa-users"></i>
      <span>People</span>
    </a>

    <a href="{% url 'events:list_events' %}">
      <i class="fas fa-calendar-alt"></i>
      <span>Events</span>
    </a>

    <a href=" {% url 'opportunity:list_opportunities' %} ">
      <i class="fas fa-briefcase"></i>
      <span>Opportunity</span>
    </a>

    {% if not request.user.is_anonymous%}
    <a href="{% url 'chat_view' %}">
      <i class="fas fa-envelope"></i>
      <span>Messages</span>
      {% comment %} <span class="badge"></span> {% endcomment %}
    </a>

    <!-- Profile Section -->
    <div class="profile">
    {% if request.user.profile_pic %}
    <img src="{{ request.user.profile_pic.url }}" alt="Profile">
    {% else %}
    <img src="https://res.cloudinary.com/dvqujmybl/image/upload/v1764002286/default-avatar_tieved.png " alt="Profile">
    {% endif %}
      <span>Me<i class="fas fa-caret-down"></i></span>

      <!-- Dropdown -->
      <div class="dropdown-menu">
        <a href="{% url 'dashboard:dashboard' %}">👤 Profile</a>
        <a href="{% url 'dashboard:user_logout' %}">🚪 Logout</a>
      </div>
    </div>

    {% else%}
    <a href="{% url 'login_view' %}">
      <i class="fas fa-sign-in-alt"></i>
      <span>Login</span>
    </a>

    {% endif %}
  </nav>
</header>

</body>
</html>
