{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Dashboard</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'base/dashboard/sidebar.css' %}">
</head>
<body>

<div class="dashboard-container">
    
    <!-- Sidebar -->
    <aside class="sidebar">
      <h2 class="sidebar-title">👋🏻 Hello {{request.user.first_name | title}}</h2>
      <nav>
        <a href="{% url 'dashboard:dashboard' %}">Dashboard</a>
        <a href="{% url 'dashboard:view_experience' %}">Experience</a>
        <a href="{% url 'dashboard:view_skills' %}">Skills</a>
        <a href="#">Job</a>
        <a href="{% url 'dashboard:view_events' %}">Event</a>
        <a href="{% url 'dashboard:user_logout' %}">Logout</a>
      </nav>
    </aside>
</div>
</body>
</html>
