{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Event</title>
    <link rel="stylesheet" href="{% static 'events/css/report_event.css' %}">
</head>
<body>
{% include "base/message.html" %}
<div class="report-container">
    <h2>Applying for Opportunity</h2>

    <form method="POST" enctype="multipart/form-data" class="report-form">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="button-group">
            <a href="{% url 'opportunity:list_opportunities' %}" class="cancel-btn">Cancel</a>
            <button type="submit" class="btn-submit">Submit</button>
        </div>
    </form>
</div>

</body>
</html>
